@import "tailwindcss";


:root {
  width: 100vw;
  height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  background-color: #accbee;
  overflow: hidden;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

